* text=auto
*.diff    text   eol=lf
*.sh      text   eol=lf
*.dpr     text   eol=crlf
*.dproj   text   eol=crlf
*.lpr     text   eol=crlf
*.lpi     text   eol=crlf
*.pas     text   eol=crlf
*.inc     text   eol=crlf
*.ini     text   eol=crlf
*.bat     text   eol=crlf
*.cmd     text   eol=crlf
