* text=auto
*.dpr     text   eol=crlf
*.dproj   text   eol=crlf
*.lpr     text   eol=crlf
*.lpi     text   eol=crlf
*.pas     text   eol=crlf
*.ini     text   eol=crlf
*.bat     text   eol=crlf
*.cmd     text   eol=crlf
